[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

kivy = { git = 'https://github.com/kivy/kivy.git', ref = 'master', editable = true }
twisted = "*"
mutagen = "*"
musicbrainzngs = "*"
pillow = "*"
